{% extends 'base.html' %}
{% block content %}
{% load static %}
  <div class="container px-4" id="mobile-container">
    {% if add_item %}
    <form method='POST' action='{% url "trip" trip.id %}'>
    {% else %} 
    <form method='POST' action='{% url "item" trip.id item.id %}'>
    {% endif %}
      {% csrf_token %}
      <div class="row g-3 mt-4">
        <div class="col-6">
          <div class="input-group-sm mb-3">
            <label for="name" class="form-label text-header">Item Name</label>
            <input type="text" class="form-control" name="name" value="{{ item.name}}" required>
          </div>
        </div>
        <div class="col-6">
          <label for="name" class="form-label text-header">Privacy Status</label>
          <div class="input-group-sm mb-3 d-flex justify-content-around text-center">
            {% if item.public == True %}
            <input type="radio" class="btn-check" name="privacy" id="private" value="false" autocomplete="off">
              <label class="col-5 btn btn-outline-primary btn-status py-1" for="private">Private</label>
            <input type="radio" class="btn-check" name="privacy" id="public" value="true" autocomplete="off" checked>
              <label class="col-5 btn btn-outline-primary btn-status py-1" for="public">Public</label>
            {% else %}
            <input type="radio" class="btn-check" name="privacy" id="private" value="false" autocomplete="off" checked>
              <label class="col-5 btn btn-outline-primary btn-status py-1" for="private">Private</label>
            <input type="radio" class="btn-check" name="privacy" id="public" value="true" autocomplete="off">
              <label class="col-5 btn btn-outline-primary btn-status py-1" for="public">Public</label>
            {% endif %}
          </div>
        </div>
        <div class="col-6">
          <div class="input-group-sm mb-3">
            <label for="category" class="form-label text-header">Category</label>
            <select type="select" class="form-select form-select-sm px-2" name="category" id="category" required>
              <option value="" disabled selected>Select Option</option>
              {% for category in categories  %}
                {% if item.category == category %}
                  <option value="{{ category }}" selected>{{ category }}</option>
                {% else %}
                  <option value="{{ category }}">{{ category }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group-sm mb-3">
            <label for="season" class="form-label text-header">Season</label>
            <select type="select" class="form-select form-select-sm px-2" name="season" id="season">
              {% for season in seasons %}
                {% if item.season == season %}
                  <option value="{{ season}}" selected>{{ season}}</option>
                {% else %}
                  <option value="{{ season}}">{{ season}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group-sm mb-3">
            <label for="age" class="form-label text-header">Age Group</label>
            <select type="select" class="form-select form-select-sm px-2" name="age" id="age">
              {% for age in ages %}
                {% if item.age == age %}
                  <option value="{{ age }}">{{ age }}</option>
                {% else %}
                  <option value="{{ age }}">{{ age }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group-sm mb-3">
            <label for="gender" class="form-label text-header">Gender</label>
            <select type="select" class="form-select form-select-sm px-2" name="gender" id="gender">
              {% for gender in genders %}
              <option value="{{ gender }}">{{ gender }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-12">
          <label for="activities" class="form-label text-header">Activities</label>
          <div class="row g-3">
            {% for activity in activities %}
              {% if activity != "All" %}
                <div class="col-4">
                  {% if item.activity == activity %}
                  <label class="card card-shadow card-activity card-activity-active" for="activity-{{ activity }}">
                    <input type="checkbox" class="btn-check" name="activities" value="{{ activity }}" id="activity-{{ activity }}" checked>
                  {% else %}
                  <label class="card card-shadow card-activity" for="activity-{{ activity }}">
                    <input type="checkbox" class="btn-check" name="activities" value="{{ activity }}" id="activity-{{ activity }}">
                  {% endif %}
                    <div class="card-body p-1 d-flex flex-column justify-content-center align-items-center">
                    <text class="text-activities align-middle">{{ activity }}</text>
                  </div>
                  </label>
                </div>
              {% endif %}
            {% endfor %}      
          </div>
        </div>
      </div>
      <div class="row justify-content-around">
        {% if add_item %}
        <div class="text-center mt-1">
          <button type="submit" class="btn button-hover button-shadow border-0 mt-4">
            <text class="text-card-title">+ Create Item</text>
          </button>
        </div>
        {% else %} 
        <div class="col-6 mt-4">
          <a href="{% url "delete_item" trip.id item.id %}">
            <div class="card card-shadow border-0 mb-4 button-hover">
              <div class="card-body p-1 text-center">
                <text class="text-card-title">Delete Item</text>
              </div>
            </div>
          </a>
        </div>
        <div class="col-6 ">
          <button type="submit" class="btn button-fit rounded-pill py-1 mt-4 button-shadow button-primary">
            <text class="text-card-title">Save Changes</text>
          </button>
        </div>
      </div>
      {% endif %}
    </form>
  </div>
  
<script src="/static/javascript/trip.js"></script>
{% endblock %}