{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container px-4" id="mobile-container">
  {% if edit %}
    <form method="POST" action="{% url 'edit_trip' trip.id %}">
  {% else %}
    <form method="POST" action="{% url 'new_trip' %}">
  {% endif %}
    {% csrf_token %}
    <div class="mt-4">
      <label for="searchTextField" class="form-label text-header">Where are you going?</label>
      <div class="input-group input-group-sm mb-3">
        {% if edit %}
          <input type="search" class="form-control" name="search" value="{{ trip.city }}, {{ trip.country}}" id="searchTextField" required>
        {% else %}
          <input type="search" class="form-control" name="search" id="searchTextField" required>
        {% endif %}
      </div>
    </div>
    <div class="mt-4">
      <label for="searchTextField" class="form-label text-header">What day do you arrive?</label>
      <div class="input-group input-group-sm mb-3">
        <input type="date" class="form-control" name="date" id="date" value="{{ trip.date|date:"Y-m-d" }}" required>
      </div>
    </div>
    <div class="mt-4">
      <label class="form-label text-header">Travellers</label>
      <ol class="ps-4" id="travellers-list">
        <li class="my-1 ps-2 my-traveller">
          <div class="d-flex">
            <div class="input-group input-group-sm">
              {% if user.first_name %}
                <input type="text" placeholder="Name" value="{{ user.first_name }} {{ user.last_name }}" class="form-control" disabled>
              {% else %}
                <input type="text" placeholder="Name" value="{{ user.username.title }}" class="form-control" disabled>
              {% endif %}
            </div>
            <div class="text-center mx-1 my-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="grey" class="bi bi-x" viewBox="0 0 16 16" disabled>
              </svg>
            </div>
          </div>
        </li>
        {% for traveller in travellers %}
        <li class="my-1 ps-2 traveller-li">
          <div class="d-flex">
            <div class="input-group input-group-sm">
              <input type="text" name="name" placeholder="Name" class="form-control" value="{{ traveller.name }}" required>
              <input type="number" name="age" min="0" max="110" placeholder="Age" class="form-control pe-1 age" value="{{ traveller.age }}" required>
              <select class="form-select form-select-sm pe-0 gender" name="gender" aria-label=".form-select-sm" required>
                <option value="{{ traveller.gender }}" selected>{{ traveller.gender }}</option>
                {% for gender in genders %}
                  {% if traveller.gender == gender %}
                    <option value="{{ gender }}" selected>{{ gender}}</option>
                  {% else %}
                    <option value="{{ gender }}">{{ gender}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="text-center mx-1 my-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="grey" class="bi bi-x remove-traveller-button" value="{{ traveller.name }}" viewBox="0 0 16 16">
                <path class="remove-traveller-button" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </div>
          </div>
        </li>
        {% endfor %}
        <li class="my-1 ps-2 traveller-li" id="traveller-template">
          <div class="d-flex">
            <div class="input-group input-group-sm">
              <input type="text" name="name" placeholder="Name" class="form-control" required>
              <input type="number" name="age" min="0" max="110" placeholder="Age" class="form-control pe-1 age" required>
              <select class="form-select form-select-sm pe-0 gender" name="gender" aria-label=".form-select-sm"required>
                <option value="" disabled selected>Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            </div>
            <div class="text-center mx-1 my-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="grey" class="bi bi-x remove-traveller-button" viewBox="0 0 16 16">
                <path class="remove-traveller-button" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </div>
          </div>
        </li>
      </ol>
    </div>
    <div class="text-center">
      <div class="btn button-hover button-shadow border-0" id="add-traveller-button">
        <text class="text-normal">+ Add traveller</text>
      </div>
    </div>
    <div class="mt-4">
      <label for="number_items" class="form-label text-header">How much do you want to pack?</label>
      <div class="row g-3">
        {% for number_item in number_items%}
        <div class="col-4 ">
          {% if number_item.num == trip.number_items %}
          <label class="card card-shadow card-packing card-packing-active" for="number_items_light">
            <input type="radio" class="btn-check" name="number_items" value="{{ number_item.num}}" id="{{ number_items.id }}" checked>
          {% else %}
          <label class="card card-shadow card-packing " for="number_items_light">
            <input type="radio" class="btn-check" name="number_items" value="{{ number_item.num}}" id="{{ number_items.id }}">
          {% endif %}
            <div class="card-body p-2 text-center">
              <div>
                <text class="text-card-title">{{ number_item.name}}</text>
              </div>
              <div>
                <text class="text-card-normal">{{ number_item.text_1 }} {% if number_item.text_2 %} <br>{{ number_item.text_2 }} {% endif %}</text>
              </div>
            </div>
          </label>
        </div>
        {% endfor %}
    <div class="mt-4">
      <label for="number_items" class="form-label text-header">What will you be doing there?</label>
      <div class="row g-3">
        {% for activity in activities %}
        {% if activity != "All" %}
        <div class="col-4">
          {% if activity in my_activities %}
          <label class="card card-shadow card-activity card-activity-active" for="activity-{{ activity }}">
            <input type="checkbox" class="btn-check" name="activities" value="{{ activity }}" id="activity-{{ activity }}" checked>
          {% else %}
          <label class="card card-shadow card-activity" for="activity-{{ activity }}">
            <input type="checkbox" class="btn-check" name="activities" value="{{ activity }}" id="activity-{{ activity }}">
          {% endif %}
            <div class="card-body p-1 d-flex flex-column justify-content-center align-items-center">
              <text class="text-activities align-middle">{{ activity }}</text>
            </div>
          </label>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% if edit %}
    <div class="row justify-content-around">
      <div class="col-6 mt-4">
        <a href="{% url "delete_trip" trip.id %}">
          <div class="card card-shadow border-0 mb-4 button-hover">
            <div class="card-body p-1 text-center">
              <text class="text-card-title">Delete Trip</text>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 ">
      <button type="submit" class="btn button-fit rounded-pill py-1 mt-4 button-shadow button-primary">
        <text class="text-card-title">Save Changes</text>
      </button>
      </div>
    </div>
    {% else %}
    <button type="submit" class="col-12 btn rounded-pill py-2 mt-4 button-shadow button-primary">
      <text class="text-card-title">Generate List</text>
    </button>
    {% endif%}
  </form>
</div>

<script defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyABt5_xdXjRl4pFDKfdUtAM4Bv5lgt1vo8&libraries=places"></script>
<script defer type="text/javascript" src="/static/javascript/trip_form.js"></script>

{% endblock %}