{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container px-4 multi-collapse show" id="mobile-container" aria-expanded="true">
  <div class="card card-shadow border-0 mt-4 weather-card" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <div class="card-body text-center">
      <text class="text-header">{{ trip.city}}, {{ trip.country}}</text>
      <div class="row d-flex">
        <div class="col-6 align-self-center">
          {% if weather_icon == 'rain' %}
            <img src="../../static/images/rain.png" alt="..." class="weather-icon p-2">
          {% endif %}
          {% if weather_icon == 'cloudy' %}
            <img src="../../static/images/cloudy.png" alt="..." class="weather-icon p-2">
          {% endif %}
          {% if weather_icon == 'snow' %}
            <img src="../../static/images/snow.png" alt="..." class="weather-icon p-2">
          {% endif %}
          {% if weather_icon == 'clear-day' %}
            <img src="../../static/images/clear-day.png" alt="..." class="weather-icon p-2">
          {% endif %}
          {% if weather_icon == 'partly-cloudy-day' %}
            <img src="../../static/images/partly-cloudy.png" alt="..." class="weather-icon p-2">
          {% endif %}
        </div>
        <div class="col-6 align-self-center">
          <text class="display-6">{{today_temp_high}}</text>
        </div>
      </div>
      <div class="row d-flex justify-content-around align-items-start">
        <div class="col-6"> 
          <text class="text-muted my-0"> {{condition|title }} </text>
        </div>
        <div class="col-6"> 
          <text class="text-muted my-0"> H: {{today_temp_high}} &nbsp;&nbsp; L: {{today_temp_low}} </text>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{trip.city}}, {{trip.country}} &nbsp;<span class="text-muted" style="font-size: 12px;font-style: italic;">15 Day Forecast</span></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            {% for el in forecast %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{el.datetime}}" aria-expanded="false" aria-controls="flush-collapseOne">
                  {{el.datetime}}
                </button>
              </h2>
              <div id="flush-collapseOne{{el.datetime}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne{{el.datetime}}" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div class="card">
                    <div class="card-header">
                      {{el.datetime}}
                    </div>
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-start">
                        {% if el.icon == 'rain' %}
                          <img src="../../static/images/rain.png" alt="..." style="max-width: 80px;">
                        {% endif %}
                        {% if el.icon == 'cloudy' %}
                          <img src="../../static/images/cloudy.png" alt="..." style="max-width: 80px;">
                        {% endif %}
                        {% if el.icon == 'snow' %}
                          <img src="../../static/images/snow.png" alt="..." style="max-width: 80px;">
                        {% endif %}
                        {% if el.icon == 'clear-day' %}
                          <img src="../../static/images/clear-day.png" alt="..." style="max-width: 80px;">
                        {% endif %}
                        {% if el.icon == 'partly-cloudy-day' %}
                          <img src="../../static/images/partly-cloudy.png" alt="..." style="max-width: 80px;">
                        {% endif %}
                        {% if el.icon == 'wind' %}
                          <img src="../../static/images/wind.png" alt="..." style="max-width: 80px;">
                        {% endif %}
                        <div>
                          <h3>{{el.tempmax}}&#x2103;</h3>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-start">
                        <p class="text-muted"> {{el.conditions}} </p>
                        <p class="text-muted"> H: {{el.tempmax}}&#x2103; &nbsp;&nbsp; L: {{el.tempmax}}&#x2103; </p>
                      </div>
                      <div class="d-flex justify-content-between align-items-start">
                        <p class="text-muted"> Sunrise : {{el.sunrise}} </p>
                        <p class="text-muted"> Sunset : {{el.sunset}} </p>
                      </div>
                      <div class="d-flex justify-content-between align-items-start">
                        <p class="text-muted"> Wind : {{el.windspeed}}mph </p>
                        <p class="text-muted"> Feels Like : {{el.feelslike}}&#x2103; </p>
                      </div>
                      <div class="d-flex justify-content-between align-items-start">
                        <p class="text-muted"> Chance of Rain: {{el.precipprob}}%</p>
                        <p class="text-muted"> Humidity: {{el.humidity}}% </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- end of weather forecast -->
  <div class="card card-shadow border-0 mt-4 ">
    <div class="card-body">
      <div class="card-title d-flex">
        <div class="me-auto">
          <text class="text-header me-auto">Travellers</text>
        </div>
        <div class="ms-auto">
          <a class="text-header" href="{% url 'edit_trip' trip.id %}">Edit</a>
        </div>
      </div>
      <hr class="my-1 mb-2"/>
      <ol class="text-small ps-4 pe-2 ms-2 my-0">
        <li class="my-1">
            <div class="row">
              <div class="col-7">
                {% if user.first_name %} 
                  <text class="text-small ms-2">{{ user.first_name|title }} {{ user.last_name|title }}</text>
                {% else %}
                  <text class="text-small ms-2">{{ user.username|title }}</text>
                {% endif %}
              </div>
            </div>
          </li>
        {% for traveler in travelers %}
        <li class="my-1">
          <div class="row">
            <div class="col-7">
              <text class="text-small ms-2">{{ traveler.name }}</text>
            </div>
            <div class="col-5 text-end">
              <text class="text-small text-end me-2">{{ traveler.gender }},&nbsp;&nbsp;{{ traveler.age }}</text>
            </div>
          </div>
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="card card-shadow border-0 mt-4 ">
    <div class="card-body">
      <div class="card-title d-flex">
        <div class="me-auto">
          <text class="text-header me-auto">Packing List</text>
        </div>
        {% comment %} <div class="ms-auto">
          <a class="text-header" href="{% url 'edit_trip' trip.id %}">Edit</a>
        </div> {% endcomment %}
      </div>
      {% for category, items in categorized_items.items %}
      {% if items|length > 0 %}
      <div>
        <hr class="my-1"/>
        <div class="d-flex pt-1">
          <text class="text-normal-bold me-auto">{{ category }}</text>
          {% comment %} <text class="text-normal ms-auto" id="{{ category }}-checks">0</text>
          <text class="text-normal">&nbsp;/</text>
          <text class="text-normal">&nbsp;{{ items|length }}</text> {% endcomment %}
        </div>
        {% for item in items %}
        <div class="form-check d-flex text-normal py-1 my-0 text-normal-indent">
          {% if item.personal %}
          <div class="me-auto">
              <input class="form-check-input item-checkbox" type="checkbox" id="flexCheckDefault" name="{{ item.vote.id }}" {% if item.vote.checked %} checked {% endif %}>
            <a href="{% url 'item' trip.id item.item.id %}">
              <text class="form-check-label text-personal" for="flexCheckDefault">{{ item.item.name|title }}</text>
            </a>
          </div>
          {% if item.item.public == True %}
            <div class="ms-3 d-flex score-div justify-content-around">
              <svg width="16" height="24" viewBox="0 0 16 16" fill="#C4C4C4" xmlns="http://www.w3.org/2000/svg" class="score score-up me-auto {% if item.vote.vote > 0 %} score-up-post {% endif %}">
                <path d="M13 8.35714L6.5 0L0 8.35714H3.28333V13H9.71667V8.35714H13Z" class="path" />
              </svg>
              <label class="form-check-label score-value text-muted" name="{{ item.item.id }}" for="flexCheckDefault">{{item.sum_votes }}</label>
              <svg width="16" height="24" viewBox="0 0 16 16" fill="#C4C4C4" xmlns="http://www.w3.org/2000/svg" class="score score-down ms-auto {% if item.vote.vote < 0 %} score-down-post {% endif %}">
                <path d="M13 4.64286L6.5 13L0 4.64286H3.28333V3.57628e-07H9.71667V4.64286H13Z" class="path"/>
              </svg>
            </div>
            {% else %}
            <div class="ms-3 d-flex score-div justify-content-around">
              <text class="text-muted fst-italic">Private</text>
            </div>
          {% endif %}
          {% else %}
          <div class="me-auto">
            <input class="form-check-input item-checkbox" type="checkbox" id="flexCheckDefault" name="{{ item.vote.id }}" {% if item.vote.checked %} checked {% endif %}>
            <label class="form-check-label" for="flexCheckDefault">{{ item.item.name|title }}</label>
          </div>
          <div class="ms-3 d-flex score-div">
            <svg width="16" height="24" viewBox="0 0 16 16" fill="#C4C4C4" xmlns="http://www.w3.org/2000/svg" class="score score-up me-auto {% if item.vote.vote > 0 %} score-up-post {% endif %}">
              <path d="M13 8.35714L6.5 0L0 8.35714H3.28333V13H9.71667V8.35714H13Z" class="path" />
            </svg>
            <label class="form-check-label score-value text-muted" name="{{ item.item.id }}" for="flexCheckDefault">{{item.sum_votes }}</label>
            <svg width="16" height="24" viewBox="0 0 16 16" fill="#C4C4C4" xmlns="http://www.w3.org/2000/svg" class="score score-down ms-auto {% if item.vote.vote < 0 %} score-down-post {% endif %}">
              <path d="M13 4.64286L6.5 13L0 4.64286H3.28333V3.57628e-07H9.71667V4.64286H13Z" class="path"/>
            </svg>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <a href="{% url "add_item" trip.id %}">
    <div class="text-center">
      <button class="btn button-hover button-shadow border-0 mt-3" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="collapseExample">
        <text class="text-card-title">+ Add Item</text>
      </button>
    </div>
  </a>
</div>
<input type="hidden" id="trip_id" value="{{ trip.id}}">

<script src="/static/javascript/trip.js"></script>
{% endblock %}